* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
/* Button Styles for reuse */
.btn-gradient {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 14px 45px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    background: linear-gradient(to bottom, #a855f7, #7c3aed);
    box-shadow: 0 4px 10px rgba(124, 58, 237, 0.3);
    transition: all 0.3s ease;
}
.btn-gradient:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(124, 58, 237, 0.4);
    filter: brightness(1.1);
}
.btn-gradient:active {
    transform: translateY(0);
}

/* navbar section css */
.header {
    background: #fff;
    padding: 15px 8%;
    border-bottom: 1px solid #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 35px;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-menu li a {
    text-decoration: none;
    color: #344054;
    font-weight: 500;
    transition: 0.3s;
}
.nav-menu li a:hover {
    color: #7f56d9;
}

.auth-buttons {
    display: flex;
    gap: 12px;
}
.btn-demo {
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.btn-login {
    color: #344054;
    border: 1px solid #D0D5DD;
}

.btn-demo {
    color: #7f56d9;
    border: 1px solid #7f56d9;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-auth {
    display: none;
}